section.s-subscription
    .container
        .subscription
            h2.subscription__title.title Абонементы
            ul.subscription__month-list.month-list
                li.month-list__item
                    button.month-list__button.month-list__button--active 1 месяц
                li.month-list__item
                    button.month-list__button 6 месяцев
                li.month-list__item
                    button.month-list__button 12 месяцев
            ul.subscription__list.membership
                li.membership__item
                    h3.membership__title Утро
                    p.membership__time Посещение<br> с 11:00 до 16:00
                    span.membership__price 1 300 Р
                    button.membership__button Заказать абонемент
                li.membership__item
                    h3.membership__title Безлимит
                    p.membership__time Посещение не ограничено<br> по времени
                    span.membership__price 2 800 Р
                    button.membership__button Заказать абонемент
                li.membership__item
                    h3.membership__title Вечер
                    p.membership__time Посещение<br> с 17:00 до 21:00
                    span.membership__price 2 000 Р
                    button.membership__button Заказать абонемент