section.s-direction
    .container
        .direction
            h2.direction__title Направления
            ul.direction__list.yoga-type
                li.yoga-type__item
                    picture
                        //source(type="image/webp" media="(min-width: 1300px)" srcset="/static/images/content/index-can-desktop1x.webp, /static/images/content/index-can-desktop2x.webp 2x")
                        //source(type="image/webp" media="(min-width: 768px)" srcset="/static/images/content/index-can-tablet1x.webp, /static/images/content/index-can-tablet2x.webp 2x")
                        //source(type="image/webp" srcset="/static/images/content/index-can-mobile1x.webp, /static/images/content/index-can-mobile2x.webp 2x")
                        //source(media="(min-width: 1300px)" srcset="/static/images/content/index-can-desktop1x.png 1x, /static/images/content/index-can-desktop2x.png 2x")
                        //source(media="(min-width: 768px)" srcset="/static/images/content/index-can-tablet1x.png 1x, /static/images/content/index-can-tablet2x.png 2x")
                        img.yoga-type__image(src="static/images/content/direction-img1x1.jpg" srcset="static/images/content/direction-img1x2.jpg 2x" width="250" height="200" alt="Хатха-йога. Фотография занятий")
                    .yoga-type__wrapper
                        .yoga-type__description
                            h3.yoga-type__title Хатха-йога
                            p.yoga-type__time Пн, Ср, Пт – с 12:00 до 15:00 Вт, Чт – с 18:00 до 21:00
                            span.yoga-type__instructor Инструктор<br> Емельянова Полина
                        button.yoga-type__button
                            span.visually-hidden Перейти

