extends template/main

block variables
	- var title = 'Школа Yoga'
	- var pageClass = 'index-page'

block content
	include pages/direction
	include pages/subscription
	include pages/team
	include pages/reviews

