@font-face {
  font-family: 'Caveat_regular';
  src: url('../fonts/Caveat-Regular.woff') format('woff'),
  url('../fonts/Caveat-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria_bold';
  src: url('../fonts/Geometria-Bold.woff') format('woff'),
  url('../fonts/Geometria-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria_medium';
  src: url('../fonts/Geometria-Medium.woff') format('woff'),
  url('../fonts/Geometria-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}