// Colors
$white: #ffffff;
$black: #000000;
$base-text-color: #444444;
$green-text-color: #63d1bb;

$border-color: #e5e5e5;

$bg-color-lightGreen: #63d1bb;
$bg-color-darkGreen: #56c3b2;
$bg-color-gray: #f9f9f9;
$bg-footer: #f1f1f1;

$color-hover: #46c1ae;

// Sizes
$base-font-size: 15px;
$title-font-size: 25px;

$mobile-size: 320px;
$tablet-size: 768px;
$desktop-size: 1150px;

// Fonts
$main-font: 'Open Sans Bold', sans-serif;
$second-font: 'Open Sans Regular', sans-serif;