// Colors
$white: #ffffff;
$black: #000000;
$base-font-color: #8E80A9;
$text-color-red: #E65C7B;
$bg-color: #FCF8FE;

// Sizes
$base-font-size: 10px;
$title-font-size: 25px;

$mobile-size: 320px;
$tablet-size: 768px;
$desktop-size: 1440px;

// Fonts
$main-font: 'Geometria_medium', sans-serif;
$bold-font: 'Geometria_bold', sans-serif;
$second-font: 'Caveat_regular', sans-serif;