.title {
  font-family: $main-font;
  font-size: $title-font-size;
  line-height: 30px;
  @media screen and (min-width: $tablet-size) {
    font-size: 43px;
    line-height: 50px;
  }
  @media screen and (min-width: $desktop-size) {
    font-size: 53px;
    line-height: 57px;
  }
}

.page-title {
  background-color: $bg-color-gray;
  display: block;
  font-family: $main-font;
  font-size: 27px;
  margin-bottom: 30px;
  padding: 70px 20px;
  position: relative;
  text-align: center;
  @media screen and (min-width: $tablet-size) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 80px;
    padding-top: 100px;
    padding-bottom: 80px;
    &::before {
      background: url("../images/general/bg-zigzag-fill.svg") repeat-x 50% 100%;
      bottom: -16px;
      content: "";
      height: 24px;
      left: 0;
      min-height: 34px;
      position: absolute;
      width: 100%;
    }
  }
  @media screen and (min-width: $desktop-size) {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 128px;
    padding-bottom: 100px;
  }
}