.s-subscription {
  background-image: url("../images/general/yoga_bg-clouds1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 70px;
  &::after {
    background: url("../images/general/yoga_bg-pattern2x1.png");
    background-size: contain;
    bottom: -115px;
    content: '';
    height: 270px;
    left: calc(50% - 155px);
    position: absolute;
    width: 310px;
    z-index: -1;
    @media screen and (-webkit-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../images/general/yoga_bg-pattern2x2.png");
      background-size: contain;
    }
  }
  @media screen and (-webkit-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url('../images/general/yoga_bg-clouds2x.png');
    background-size: contain;
  }
}

.subscription {
  &__title { margin-bottom: 40px; }
}

.month-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 0 30px;
  &__button {
    background-color: transparent;
    border: none;
    color: $text-color-red;
    cursor: pointer;
    font-size: 12px;
    line-height: 1.3;
    padding: 0;
    &--active { border-bottom: 1px solid $text-color-red; }
  }
}

.membership {
  animation: fadeEffect 0.4s;
  animation-duration: 1.5s;
  display: none;
  padding: 0 15px;
  &--active { display: block; }
  &__item {
    align-items: center;
    background-color: $white;
    box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2);
    display: flex;
    flex-direction: column;
    padding: 30px;
    &:not(:last-child) { margin-bottom: 30px; }
  }
  &__title {
    font-family: $bold-font;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  &__time {
    color: $text-color-red;
    line-height: 15px;
    margin-bottom: 15px;
    text-align: center;
  }
  &__price {
    font-family: $bold-font;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 25px;
  }
  &__button {
    background-color: $base-font-color;
    border: none;
    color: $white;
    cursor: pointer;
    line-height: 20px;
    padding: 7px;
    width: 150px;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
    //transform: translateX(-100%);
  }
  to {
    opacity: 1;
    //transform: translateX(0);
  }
}